
<div class="container">
  <div class="row justify-content-center ">
    <div class="col-6 bg-light p-4">
      <h1>Add a new flat</h1>
      <%= render 'form', flat: @flat %>
    </div>
  </div>
</div>
